@import "variable";

body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    .container {
        max-width: 1745px;
        @media (max-width: 768px) {
            width: 100%;
            margin: 0;
        }
        .nav {
            width: auto;
            @media (max-width: 768px) {
                margin: 0%;
            }
        }
        .shop_title {
            font-size: 36px;
            margin: auto;
            color: #727171;
            margin: 1% 0;
            text-align: center;
            samp {
                border-bottom: 1px #898989 solid;
                padding-bottom: 5px;
                letter-spacing: 6px;
            }
            @media (max-width: 1300px) {
                font-size: 32px;
            }
             @media (max-width: 1117px) {
                font-size: 28px;
            }
            @media (max-width: 924px) {
                font-size: 24px;
            }
            @media (max-width: 768px) {
                font-size: 32px;
            }
        }
        .cards{
            .card{
                border:initial;
                background-color: initial;
                .card-body{
                    padding: 1.25rem 1.25rem 1rem 1.25rem;
                    .card-title{
                        text-align: center;
                    }
                    .card-text{
                        text-align: center;
                    }
                }
                .card-footer{
                    display: flex;
                    background-color:initial;
                    border-top: initial;
                    padding: 0 0 1.25rem 0;
                    .button_content{
                        width: 50%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        .buy_button{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 2%;
                            margin-bottom: 2%;
                            background-color: initial;
                            .buy_button_left ,.buy_button_right{
                                width: 25px;
                                height: 27px;
                                text-align: center;
                                line-height: 23px;
                                border: 2px #898989 solid;
                                font-size: 18px;
                                color: #898989;
                                cursor: pointer;
                                &:hover {
                                    background-color: lightgray;
                                }
                                &:focus {
                                    outline: initial;
                                }
                                &:active {
                                    background-color: lightcoral;
                                }
                            }
                            .buy_button_left{
                                border-top-left-radius: 10px;
                                border-bottom-left-radius: 10px;
                                border-right: none;
                            }
                            .buy_button_right{
                                border-top-right-radius: 10px;
                                border-bottom-right-radius: 10px;
                                border-left: none;
                            }
                            .input_area{
                                .buy_button_quantity{
                                    width: 25px;
                                    height: 27px;
                                    text-align: center;
                                    line-height: 27px;
                                    border: 2px #898989 solid;
                                    font-size: 18px;
                                    color: #898989;
                                &:focus {
                                    outline-width: 0px;
                                }
                            }

                        }
                    }
                    
                }
                .confirm{
                    width: 50%;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        &:focus {
                            outline: initial;
                        }
                        .btn{
                            padding: 0;
                        }
                        .btn-primary{
                            background-color: initial;
                        }

                        a{
                            width: 50px;
                            height: 30px;
                            font-size: 16px;
                            border: 2px #898989 solid;
                            border-radius: 6px;
                            color: #898989;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
        
    }   
}