@import "variable";

main{
    height: 100%;
    overflow: hidden;
}
.container{
    padding-top: 40px;
    
    height: auto;
    min-height: calc(100vh - 306px);

    .booking-title {
        text-align: center;
        margin: auto;
        span {
            font-size: $h2;
            color: $text-title-color;
            letter-spacing: 5px;
            border-bottom: 1px $text-line-color solid;
            padding-bottom: 5px;
            margin: auto;
        }
    }
}



table {
    max-width: 1200px;
    border-spacing: 2px;

    .prev-month,.next-month{
        cursor: pointer;
    }

    tr{
        th{
            text-align: center;
        }
    }


    td {
        border: none;
        padding: 10px;
        position: relative;
        ul{
            display: none;

            padding: 0;
            width: 205px;
            background-color: #666666;
            position: absolute;
            top: 20%;
            left: 20%;
            height: auto;
            z-index: 100;
            li{
                padding: 10px;
            }
        }
        &:hover ul{
            display: block;
        }
    }
    .calendar-date {
        background: #666666;
        /* border-radius: 5px; */
        height: 64px;
        width: 14%;
        color: #fff;
        cursor: pointer;
        position: relative;
        &:hover {
            background: #808080;
        }
        .day {
            font-size: 13px;
            color: #ccc;
            .day-num {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }
        }
    }
}
