@import "variable";


    .register-title {
    padding-top: 40px;

        text-align: center;
        margin: auto;
        span {
            font-size: $h2;
            color: $text-title-color;
            letter-spacing: 5px;
            border-bottom: 1px $text-line-color solid;
            padding-bottom: 5px;
            margin: auto;
        }
    }

